.beer {
  text-align: center;
  margin: 10px;
  box-shadow: 3px 4px 7px black, -3px -4px 7px;
  transition: 1s;
  border-radius: 12px;
  padding: 5px;
}

.abv {
  color: red;
  font-weight: 900;
}

.abv-switch-contain{
font-weight: 900;
font-size: 1.2rem;
border: 2px solid blue;
margin: auto;
max-width: 300px;
border-radius: 20px;
padding: 5px;
height: 50px;
}

.beer-image{
animation: full-rotate 3s linear 1s infinite;
z-index: 0;
}

.beer-image:hover {
  transform: scale(1.5);
}

@keyframes full-rotate {
  from{
    transform: rotateY(180deg);
  }
  to{
    transform: rotateY(-180deg);
  }
}
.header {
  text-align: center;
}

.input {
  font-size: 3rem;
}

.check {
  width: 16vw;
  height: 10vh;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  margin-top: 5px;
}

.checkbox-label{
  border: 2px solid black;
  border-radius: 20px;
  display: inline-block;
  margin: 0 3px;
  height: 20px;
  width: 40px;
  cursor: pointer;
}

.switch-roller{
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 9999px;
  transition: 1s;
}

.end-roll{
  background-color: blue;
  transform: translateX(-40%);
}

.start-roll{
  background-color: red;
  transform: translateX(70%);
}

#abv-switch{
  height: 0;
  width: 0;
}

h1 {
  color: blue;
}
h5 {
  color: rgb(31, 39, 12);
}
.des {
  font-size: 0.5rem;
}

.full-details{
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 250, 250, 0.8);
  z-index: 10;
}

.full-details .beer{
  background-color: white;
  max-height: 80vh;
  overflow-x: auto;
}

.full-details button{
margin:20px 5px;
color: red;
border: 2px solid red;
border-radius: 12px;
cursor: pointer;
font-weight: 900;
}

button{
  cursor: pointer;
}