.App {
  text-align: center;
  margin: 15px;
  background-color: aquamarine;
  box-shadow: 3px 4px 7px black, -3px -4px 7px;
  transition: 1s;
}
.abv{
  color: red;
  font-size: 1.2rem;
}

.App:hover{
  transform: scale(1.1);
}
.header{
  text-align: center;
  height: 20vh;
}
.input{
  font-size: 3rem;
}
.check{
  width: 16vw;
  height: 10vh;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  margin-top: 5px;
}
.checkbox{
  transform: scale(3);
  width: 4vw;
  height: 4vh;
}
h1{
  color: blue;
}
h5{
  color: rgb(31, 39, 12);
}
.des{
  font-size: 0.5rem;
}

