body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left,rgb(251, 253, 253),rgb(250, 250, 243));
  overflow-x: hidden;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.index{
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px;
}

@media screen and (min-width: 500px){
  .index{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px){
  .index{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.homepage-link{
  font-weight: 900;
  color: blue;
  text-decoration: none;
}

footer{
  border-top:2px solid black;
  text-align: center;
}